@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900; /* Supports variable weights */
  font-display: swap;
}

@import "tailwindcss";

:root {
  --font-satoshi: "Satoshi", sans-serif;
  -webkit-user-drag: none;
  user-drag: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  @apply antialiased [text-rendering:optimizeLegibility] [font-smoothing:antialiased];
  font-family: var(--font-satoshi);
  background-color: #000000;
  border: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.heading {
  font-size: 48px;
}
.sub-heading {
  font-size: 36px;
}
.body-text {
  font-size: 24px;
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

html {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.gradient-border {
  border-radius: 12px;
  position: relative;
  background: black; /* or any background color you want */
}

/* changes date input calender color to white */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.gradient-border-left {
  position: relative;
}

.gradient-border-left::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: 0;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(to right, #8970a7, #000000);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

/* Change the gradient border after `md` */
@media (min-width: 768px) {
  .gradient-border-left::before {
    background: linear-gradient(to bottom, #8970a7, #000000);
  }
}

/* Change the gradient border after `lg` */
@media (min-width: 1024px) {
  .gradient-border-left::before {
    background: linear-gradient(to bottom, #8970a7, #000000);
  }
}

@media (max-width: 640px) {
  .gradient-border::before {
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .hover-scale {
    transition: transform 0.2s ease-in-out;
  }
  .hover-scale:hover {
    transform: scale(1.05);
  }
  .primary {
    color: #dc3912;
  }
  .divider {
    background-color: #ffffff;
    opacity: 0.1;
    border-radius: 25px;
  }

  /* Hide number input spinners in Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide number input spinners in Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* } //generate a gray to black border gradient */
  @layer utilities {
    .user-drag-none {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
      user-select: none;
    }

    .remove-auto-fill-background {
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        transition: background-color 5000000s;
        -webkit-text-fill-color: #ffffff !important;
      }
    }
  }
}
